html,
body {
  font-family: -apple-system, -system-ui, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #26264d;
  color: #eaeaea;
  scroll-behavior: smooth;
  background-image: url("https://w.wallha.com/ws/14/yATVkauL.png");
  background-size: cover;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  margin: 2rem;
  justify-content: center;
}

.card-item {
  flex: 1;
}

.types-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.card > * {
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}
.types-container > * {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 1px rrgb(0, 0, 0));
}
.card img {
  position: absolute;
  top: -0;
  right: -6rem;
  filter: drop-shadow(0px 0px 6px rgba(251, 225, 50, 0.805));
}
.botonera-clases {
  margin: 6px 5px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.6rem;
}
.botonera-clases > * {
  padding: 8px 13px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px #000;
  background-color: #148aeb;
}
.boton:active {
  scale: 0.92;
  filter: drop-shadow(2px 2px 5px rgb(54, 49, 54));
  transition: 0.2s;
}
.boton:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.card {
  position: relative;
  border: 0.4rem outset #ffd94e;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  width: 20rem;
  margin-right: 5rem;
  background-color: rgba(250, 154, 154, 0.25);
  backdrop-filter: blur(8px);
  padding: 1rem 2rem;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #eaeaea;
}
#__next {
  min-height: 100vh;
}
.home-header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1.6rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, #007ad1, #363131);
  background-origin: border-box;
  background: url("https://i.pinimg.com/originals/0d/19/de/0d19de42001f8c61b6a5aac2a0bb84d1.png");
  background-size: contain;
  padding: 0.3rem 1rem;
  width: 100vw;
}
.buscador {
  display: flex;
  margin-top: 4px;
  position: relative;
  max-width: 203px;
  align-items: center;
}
.buscador input {
  background-color: #0334c9;
  padding: 5px 20px 5px 10px;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 1rem;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #122b96;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
}
.btn-search {
  width: 48px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  color: #ffffffa8;
  background-color: transparent;
  pointer-events: painted;
  top: 0;
  right: 0;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  max-width: 80vw;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
}
.input-search:focus {
  width: 300px;
  max-width: 80vw;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.errorImg {
  width: 80vw;
  height: 40vh;
  background: no-repeat center
    url("https://pbs.twimg.com/media/D5j8smjWAAAQikp.png");
}

.icon {
  position: absolute;
  color: #000;
  right: -0;
}
.home-header h2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}
.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.botonera {
  display: none;
}

/* Animaciones */
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@media (max-width: 400px) {
  .header h2 {
    font-size: 19px;
  }
  .types-container p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 15rem;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .cards {
    justify-content: center;
    align-items: center;
  }
  .card img {
    position: static;
  }
  .botonera {
    list-style: none;
    display: flex;
    background-color: red;
    font-size: 3rem;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    justify-content: center;
  }
  .botonera li {
    padding: 10px 1rem;
    background: #000;
  }
  .botonera li:hover {
    background-color: #ffd94e;
  }
}
.cargando {
  text-align: center;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}
.cargando2 {
  width: 40%;
  height: auto;
}

/* CARTA */
*,
button,
input {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
  --lightblue: #3d9dea;
  --darkblue: #4a4eee;
  --text-color: #d5e1ef;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(90deg, #414850, #131720); */
  color: var(--text-color);
}



.wrapper {
  background-image: var(--bg-shape-color);
  overflow: hidden;
  max-width: 768px;
  width: 100vw;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.overviewInfo,
.productSpecifications {
  padding: 24px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #7176f9 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7176f9;
    border-radius: 9px;
    border: 1px outset #ffdd00;
  }
.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.actions .cartbutton {
  position: relative;
}
.actions .cartbutton::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-image: linear-gradient(90deg, #489be2, #0f629c);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: 8px;
}
.actions .cartbutton svg {
  color: #ababab73;
}
.actions .backbutton,
.actions .cartbutton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  user-select: none;
}
.backbutton:active {
  scale: 0.96;
}

.neurobutton {
  background-image: var(--bg-shape-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1),
    inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1),
    -2px -2px 8px 2px rgba(255, 255, 255, 0.1),
    2px 2px 6px 3px rgba(0, 0, 0, 0.4);
}

.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
  margin-bottom: 50px;
}
.productinfo > * {
  filter: drop-shadow(5px 5px 10px rgb(54, 49, 54));
}

.productImage {
  position: absolute;
  width: 200px;
  height: auto;
  transition: ease 2s all;
  right: 0;
}
.productImage img {
  width: 100%;
  height: auto;
}
.productImage:hover {
  transition: ease 2s all;
  animation: none;
  transform: scale(1.05) translate(10px, -20px);
}

h1 {
  font-family: "Michroma", sans-serif;
}

.grouptext h3 {
  letter-spacing: 3.2px;
  font-weight: 500;
  margin-bottom: 8px;
}
.grouptext {
  display: flex;
  flex-direction: column;
}
.grouptext p {
  font-size: 12px;
  opacity: 0.8;
}

/* product specifications */
.featureIcon {
  width: 40px;
  height: 40px;
  background-image: var(--bg-shape-color);
  border-radius: 8px;
  margin-right: 16px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productSpecifications h1 {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 32px;
}
.productSpecifications p {
  opacity: 0.8;
  font-size: 15px;
  line-height: 1.5;
}
.productSpecifications .productFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  grid-row-gap: 16px;
}
.productSpecifications .productFeatures .feature {
  display: flex;
}
.pokemon_pkmn__container__vRk3z {
  display: flex;
}

.checkoutButton {
  display: flex;
  width: 100%;
  background-image: var(--bg-shape-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1),
    2px 2px 3px 0px rgba(12, 12, 12, 0.3),
    inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
  margin-top: 30px;
  padding: 14px;
  justify-content: space-between;
  align-items: center;
}

.priceTag {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.priceTag span {
  color: #488dc7;
  font-size: 20px;
}

/* checkout button*/
button.preorder {
  outline: 0;
  border: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(85deg, #61c7ef, #4833fb);
  color: white;
}

.preorder p {
  padding: 8px 17px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.buttonaction {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}

/* animation */
@keyframes updowncontroller {
  0% {
    transform: rotate(-90deg) translate(-56px, 66px);
  }
  80%,
  100% {
    transform: rotate(-70deg) translate(10px, 66px);
  }
}

/* Clases de Tipos */
.grass {
  background-image: linear-gradient(176deg, #2c8629, #39ab35, #3fbd3b);
}
.fire {
  background-image: linear-gradient(176deg, #871713, #b4361a, #c0614c);
}
.water {
  background-image: linear-gradient(176deg, #0342ff, #0334c9, #031d6b);
}
.bug {
  background-image: linear-gradient(176deg, #2c8629, #39ab35, #3fbd3b);
}
.normal {
  background-image: linear-gradient(176deg, #a07800, #a07800, #a07800);
}
.electric {
  background-image: linear-gradient(176deg, #dde113, #898b0bcb, #999b1b);
}
.ground {
  background-image: linear-gradient(176deg, #a07800, #a07800, #a07800);
}
.poison {
  background-image: linear-gradient(176deg, #9554e6, #9554e6, #683d9c);
}
.fairy {
  background-image: linear-gradient(
    176deg,
    rgb(255, 116, 199),
    rgb(255, 116, 199),
    rgb(255, 116, 199)
  );
}
.fighting {
  background-image: linear-gradient(176deg, #de4456, #de4456, #de4456);
}
.flying {
  background-image: linear-gradient(176deg, #2ba5b8, #2e8693, #2e8693);
}
.rock {
  background-image: linear-gradient(176deg, #8c8e8f, #8c8e8f, #4f5152);
}
.ghost {
  background-image: linear-gradient(176deg, #adb0b1, #8c8e8f, #8e9395);
}
.steel {
  background-image: linear-gradient(176deg, #e0e0e0, #8c8e8f, #c4c7c8);
}
.psychic {
  background-image: linear-gradient(176deg, #9554e6, #9554e6, #683d9c);
  background-image: linear-gradient(176deg, #9554e6, #9554e6, #683d9c);
}
.ice {
  background-image: linear-gradient(176deg, #7c98df, #7c98df);
}
.dragon {
  background-image: linear-gradient(176deg, #073bc1, #073bc1, #073bc1);
}
.dark {
  background-image: linear-gradient(176deg, #303235, #3d4046, #212223);
}
.shadow {
  background-image: linear-gradient(176deg, #303235, #3d4046, #212223);
}
.unknown {
  background-image: linear-gradient(176deg, #303235, #3d4046, #212223);
}

/*  */

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 300ms ease-in-out;
}

.grouptext > * {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: fit-content;
  margin-top: 4px;
  padding: 2px 10px;
}
.boton-atras {
  width: 40px;
  height: 40px;
  color: #ffffffab;
}
.tuerca {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
}
